.main > article > table {
  display: flex;
  justify-content: center;
}
table {
  /* display: flex; */
  justify-content: center;
  border-collapse: collapse;
  border: 2px solid rgb(0, 0, 0, 0.4);
  border-radius: 5px;
  margin: 20px;
}
th,
td {
  width: 100vh;
  border: 1px solid #000;
  padding: 8px;
  text-align: center;
}
th {
  background-color: darkgrey;
}


